@import "tailwindcss";

:root {
  /*palette*/
  --dusty-rose: #CC8B86;
  --powder-petal: #E6D6CF;
  --bronze: #B49A6C;
  --blue-slate: #5F6C75;
  --chocolate: #6A4E42;
  --navy-blue: #2f404b;
  --gold: #c99538;
  --wsd-primary-text: #272318;
}
/*!*  Fonts*!*/
/*.im-fell-english-sc-regular {*/
/*  font-family: "IM Fell English SC", serif;*/
/*  font-weight: 400;*/
/*  font-style: normal;*/
/*}*/

/*!*<weight>: Use a value from 100 to 900*!*/
/*!*<uniquifier>: Use a unique and descriptive class name*!*/
/*.montserrat {*/
/*  font-family: "Montserrat", sans-serif;*/
/*  font-optical-sizing: auto;*/
/*  font-weight: 100;*/
/*  font-style: normal;*/
/*}*/

/*.fleur-de-leah-regular {*/
/*  font-family: "Fleur De Leah", cursive;*/
/*  font-weight: 400;*/
/*  font-style: normal;*/
/*}*/

/*.glass-antiqua-regular {*/
/*  font-family: "Glass Antiqua", cursive;*/
/*  font-weight: 400;*/
/*  font-style: normal;*/
/*}*/

/*Layout*/
.layout-wrapper{
  @apply flex flex-col min-h-screen;
}
/*Navigation*/
.navbar {
  @apply container mx-auto px-4 py-3 flex items-center justify-between;
}

.nav-logo {
  @apply flex items-center;
}
.wsd-logo {
  @apply h-10 w-auto;
}
.cart-icon {
  @apply text-(--wsd-primary-text) text-2xl hover:text-(--chocolate);
}

/*Main*/
.main-container {
  @apply flex-1 container mx-auto px-4 py-6;
}
/*Footer*/
.footer {
  @apply bg-(--wsd-primary-text) mt-auto py-4 text-center text-white;
}