
:root {
  /*palette*/
  --dusty-rose: #CC8B86;
  --powder-petal: #E6D6CF;
  --bronze: #B49A6C;
  --blue-slate: #5F6C75;
  --chocolate: #6A4E42;
  --navy-blue: #2f404b;
  --gold: #c99538;
  --wsd-primary-text: #272318;
}
/*!*  Fonts*!*/
/*.im-fell-english-sc-regular {*/
/*  font-family: "IM Fell English SC", serif;*/
/*  font-weight: 400;*/
/*  font-style: normal;*/
/*}*/

/*!*<weight>: Use a value from 100 to 900*!*/
/*!*<uniquifier>: Use a unique and descriptive class name*!*/
/*.montserrat {*/
/*  font-family: "Montserrat", sans-serif;*/
/*  font-optical-sizing: auto;*/
/*  font-weight: 100;*/
/*  font-style: normal;*/
/*}*/

/*.fleur-de-leah-regular {*/
/*  font-family: "Fleur De Leah", cursive;*/
/*  font-weight: 400;*/
/*  font-style: normal;*/
/*}*/

/*.glass-antiqua-regular {*/
/*  font-family: "Glass Antiqua", cursive;*/
/*  font-weight: 400;*/
/*  font-style: normal;*/
/*}*/

/*Layout*/
.layout-wrapper{
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
/*Navigation*/
.navbar {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding: 0.75rem 1rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-logo {
  display: flex;
  align-items: center;
}

.wsd-logo {
  height: 2.5rem;
  width: auto;
}

.cart-icon {
  color: var(--wsd-primary-text);
  font-size: 1.5rem;
  cursor: pointer;
}

.cart-icon:hover {
  color: var(--chocolate);
}


/* Main */
.main-container {
  flex: 1;

  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;

  padding: 1.5rem 1rem;
}


/* Footer */
.footer {
  background-color: var(--wsd-primary-text);
  margin-top: auto;

  padding-top: 1rem;
  padding-bottom: 1rem;

  text-align: center;
  color: white;
}


/*book cards*/
/* based on book cards From Uiverse.io by eslam-hany */
.product-book {
  position: relative;
  border-radius: 10px;
  width: 220px;
  height: 300px;
  background-color: whitesmoke;
  box-shadow: 1px 1px 12px #000;
  perspective: 2000px;
  transform-style: preserve-3d;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
}

.book-img-cover {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: lightgray;
  cursor: pointer;
  transition: transform 0.5s;
  transform-origin: left;
  box-shadow: 1px 1px 12px #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-book:hover .book-img-cover {
  transform: rotateY(-80deg);
}

.product-book p {
  font-size: 20px;
  font-weight: bolder;
  margin: 0;
}
